body 
{
   
    font-family: sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
    text-decoration:none; 
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}


.google
{
   
        position: absolute;
        right: 0px;
        width: 750px;
        top: 130px;     
}
header
{
    display: flex;
    justify-content: flex-end;
    text-decoration: none!important;
    font-size: 10px;
}
header:link {
    text-decoration: none!important;
}

.container
{
    text-decoration: none;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 0.1px solid white;
    width: 350px;
    padding: 5px;
}
#images:hover
{
    text-decoration: underline;
}

#gmail:hover
{
    text-decoration: underline;
}
.container a {
    text-decoration: none;
}

.material-symbols-outlined {
    text-decoration: none;
    font-size: 10px !important;
    
}


#googleimg
{
    align-items: center;
}

.buttonalign
{

   padding: 5px;
  
}

#last
{
    font-size: 10px;
    align-items: center;
}



